/* button */
/* sns */
/* categories */
/* all menu */
/* share */
/* aside */
/* icon */
body.dark #contents {
  background-color: #222;
}
body.dark #contents .divide-line {
  background-color: #242424;
}
body.dark #contents .box {
  background-color: #2b2b2b;
}
body.dark #contents .box > .title-wrapper .sub-title {
  color: #bbb;
}
body.dark #contents .box > .title-wrapper.has-border {
  border-bottom: 1px solid #444;
}
body.dark #contents .box .txt-contents .txt-contents-list {
  border-bottom: 1px solid #484848;
}
body.dark #contents .box.nationwide-news .desc-wrapper .desc-box {
  border: 1px solid #484848;
  background-color: #545454;
}
body.dark #contents .box.youtube-live .ready {
  background-color: #484848;
}
body.dark #contents .box.youtube-live .ready .txt {
  color: #c6cbd0;
}
body.dark #contents .box.recommend-news .recommend-news-swiper-wrapper {
  border-top: 1px solid #383838;
}
body.dark #contents .box-contents.vertical .box-content {
  border: 1px solid #484848;
}
body.dark #contents .hashtags-wrapper {
  background-color: #2f2f2f;
}
body.dark #contents .hashtags-wrapper .hashtags .hashtags-list .hashtags-link {
  color: #333333;
  border: none;
  background-color: #a0a0a0;
}
body.dark #contents .disaster-portal-wrapper .disaster-link .txt {
  color: #222;
}
body.dark #contents .swiper-pagination-bullet {
  background-color: #7c7c7c;
}
body.dark #contents .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #fff;
}
body.dark #contents .tab-btns {
  background-color: #383838;
}
body.dark #contents .tab-btns .tab-btns-list .tab-btn {
  color: #bbb;
}
body.dark #contents .tab-btns .tab-btns-list.on .tab-btn {
  color: #fff;
}
body.dark #contents .categories-box {
  background-color: #303237;
}
body.dark #contents .categories-box .deco-img {
  background: url("data:image/svg+xml,%3Csvg width='30' height='150' viewBox='0 0 30 150' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='30' height='150' transform='matrix(-1 0 0 1 30 0)' fill='url(%23paint0_linear_85_3132)' fill-opacity='0.5'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_85_3132' x1='2.04819' y1='75' x2='30' y2='75' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23303237'/%3E%3Cstop offset='1' stop-color='%23303237' stop-opacity='0'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E") center center no-repeat;
}