$darkBlue: #5282fd;

$darkNeutral: #575757;
$darkNeutral100: #777;
$darkNeutral200: #6f6f6f;
$darkNeutral300: #a0a0a0;

$darkBlack: #242424;
$darkBlack100: #4e4e4e;
$darkBlack200: #2b2b2b;
$darkBlack300: #2f2f2f;
$darkBlack400: #444;
$darkBlack500: #383838;
$darkBlack600: #2a2a2a;
$darkBlack700: #424242;
$darkBlack800: #2e2e2e;
$darkBlack900: #232426;
$darkBlack1000: #4d4c4c;
$darkBlack1100: #474747;
$darkBlack1200: #4f4f4f;
