@charset 'utf-8';
@import "_variable";
@import "_svg";

a.more-btn.white {
  width: 16px;
  height: 16px;
  display: block;
  background: url($moreWhite) center center no-repeat;
  border: 1px solid $white;
  border-radius: 50%;
}

@keyframes liveActionTop {
  0% {
    opacity: 0.25;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0.25;
  }
}
