@charset 'utf-8';
@import "../common/_variable";
@import "../common/_dark-variable";
@import "../common/_svg";

body.dark {
  * {
    color: $white;
  }
  .box-content {
    border: 1px solid $neutral800;
  }
  .popup {
    background-color: $neutral800;
    .title-wrapper {
      border-bottom: 1px solid $neutral2700;
    }
    .share-sns {
      .share-sns-btn {
        .txt {
          color: $neutral200;
        }
      }
    }
  }
}
