@charset 'utf-8';
@import "../common/_variable";
@import "../common/_dark-variable";
@import "../common/_svg";

body.dark {
  * {
    color: $white;
  }
  .box-content {
    border: 1px solid $neutral800;
  }
  .popup {
    background-color: $neutral800;
    .title-wrapper {
      border-bottom: 1px solid $neutral2700;
    }
    .share-sns {
      .share-sns-btn {
        .txt {
          color: $neutral200;
        }
      }
    }
    .popup-texts {
      .sub-text {
        color: $neutral3000;
        border-top: 1px solid $neutral2700;
      }
    }
    .selects-wrapper {
      .common-select {
        .title {
          color: $white;
        }
        .select {
          background: url($selectArrowDark) center right 12px no-repeat;
          background-color: $neutral2700;
          border: 1px solid $neutral700;
          color: $white;

          &:focus {
            background: url($selectArrowUpDark) center right 12px no-repeat;
            background-color: $neutral2700;
          }
        }
      }
    }
  }
  #footer {
    .aside {
      .aside-btns {
        .aside-btns-list {
          .aside-btn {
            &.back-btn {
              background: url($asideBackDark) center center no-repeat;
            }
            &.comment-btn {
              background: url($asideCommentDark) center center no-repeat;
            }
            &.like-btn {
              background: url($asideLikeDark) center center no-repeat;
            }
          }
        }
      }
    }
  }
}
