/* button */
/* sns */
/* categories */
/* all menu */
/* share */
/* aside */
/* icon */
body.dark * {
  color: #fff;
}

.box-content {
  border: 1px solid #484848;
}

.popup {
  background-color: #484848;
}
.popup .title-wrapper {
  border-bottom: 1px solid #6f6f6f;
}
.popup .share-sns .share-sns-btn .txt {
  color: #f9f9f9;
}