@charset 'utf-8';

// @font-face {
//   font-family: "Noto Sans KR";
//   font-style: normal;
//   font-weight: 100;
//   src: url(/resource/font/NotoSansKR-Thin.woff2) format("woff2"),
//     url(/resource/font/NotoSansKR-Thin.woff) format("woff"),
//     url(/resource/font/NotoSansKR-Thin.otf) format("opentype");
// }

// @font-face {
//   font-family: "Noto Sans KR";
//   font-style: normal;
//   font-weight: 300;
//   src: url(/resource/font/NotoSansKR-Light.woff2) format("woff2"),
//     url(/resource/font/NotoSansKR-Light.woff) format("woff"),
//     url(/resource/font/NotoSansKR-Light.otf) format("opentype");
// }

// @font-face {
//   font-family: "Noto Sans KR";
//   font-style: normal;
//   font-weight: 400;
//   src: url(/resource/font/NotoSansKR-Regular.woff2) format("woff2"),
//     url(/resource/font/NotoSansKR-Regular.woff) format("woff"),
//     url(/resource/font/NotoSansKR-Regular.otf) format("opentype");
// }

// @font-face {
//   font-family: "Noto Sans KR";
//   font-style: normal;
//   font-weight: 500;
//   src: url(/resource/font/NotoSansKR-Medium.woff2) format("woff2"),
//     url(/resource/font/NotoSansKR-Medium.woff) format("woff"),
//     url(/resource/font/NotoSansKR-Medium.otf) format("opentype");
// }

// @font-face {
//   font-family: "Noto Sans KR";
//   font-style: normal;
//   font-weight: 700;
//   src: url(/resource/font/NotoSansKR-Bold.woff2) format("woff2"),
//     url(/resource/font/NotoSansKR-Bold.woff) format("woff"),
//     url(/resource/font/NotoSansKR-Bold.otf) format("opentype");
// }

// @font-face {
//   font-family: "Noto Sans KR";
//   font-style: normal;
//   font-weight: 900;
//   src: url(/resource/font/NotoSansKR-Black.woff2) format("woff2"),
//     url(/resource/font/NotoSansKR-Black.woff) format("woff"),
//     url(/resource/font/NotoSansKR-Black.otf) format("opentype");
// }

@font-face {
  font-family: "KBS CI";
  font-style: normal;
  src: url(/resource/font/KBS_CI.otf) format("opentype");
}

body,
body * {
  font-family: "Noto Sans KR", sans-serif;
}
.news-categories {
  > strong {
    font-family: "KBS CI", sans-serif;
  }
}
.sns {
  .kbs {
    font-family: "KBS CI", sans-serif;
  }
}
