/* button */
/* sns */
/* categories */
/* all menu */
/* share */
/* aside */
/* icon */
#header .top-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 16px;
  height: 48px;
  background-color: #f9f9f9;
}
#header .top-menu.sticky {
  width: 100%;
  position: fixed;
  top: 0;
  top: env(safe-area-inset-top);
  left: 0;
  z-index: 50;
}
#header .top-menu .report-link {
  width: 38px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100px;
  border: 1px solid #c0d2ff;
  background-color: #fff;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  color: #456bcd;
}
#header .top-menu .top-logo {
  width: 81px;
  height: 16px;
}
#header .top-menu .top-logo .home-link {
  display: block;
  width: 100%;
  height: 100%;
}
#header .top-menu .top-logo .home-link .img {
  width: 100%;
  height: 100%;
}
#header .top-menu .search-hamburger .search-btn {
  width: 24px;
  height: 24px;
  background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.5 17C13.0899 17 16 14.0899 16 10.5C16 6.91015 13.0899 4 9.5 4C5.91015 4 3 6.91015 3 10.5C3 14.0899 5.91015 17 9.5 17Z' stroke='%23484848' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M18.7929 21.2071C19.1834 21.5976 19.8166 21.5976 20.2071 21.2071C20.5976 20.8166 20.5976 20.1834 20.2071 19.7929L18.7929 21.2071ZM15.2071 14.7929L14.5 14.0858L13.0858 15.5L13.7929 16.2071L15.2071 14.7929ZM20.2071 19.7929L15.2071 14.7929L13.7929 16.2071L18.7929 21.2071L20.2071 19.7929Z' fill='%23484848'/%3E%3C/svg%3E%0A") center center no-repeat;
  margin-right: 8px;
}
#header .top-menu .search-hamburger .hamburger-btn {
  width: 24px;
  height: 24px;
  background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 5H21' stroke='%23484848' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M3 12H21' stroke='%23484848' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M3 19H21' stroke='%23484848' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A") center center no-repeat;
}
#header .top-quick-menu {
  height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 44px 0 16px;
  background-color: #fff;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}
#header .top-quick-menu.sticky {
  width: 100%;
  position: fixed;
  top: 48px;
  left: 0;
  z-index: 50;
}
#header .top-quick-menu .on-air-link {
  width: 67px;
  height: 22px;
  border-radius: 100px;
  border: 1px solid #e0e0e0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding-left: 8px;
}
#header .top-quick-menu .on-air-link .txt {
  font-weight: 700;
  font-size: 13px;
  color: #7c7c7c;
}
#header .top-quick-menu .on-air-link .red-dot {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #ff3535;
  position: absolute;
  top: 5px;
  right: 6px;
  -webkit-animation: liveActionTop 2s ease infinite;
          animation: liveActionTop 2s ease infinite;
}
#header .top-quick-menu .quick-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: calc(100% - 67px);
  padding-left: 16px;
}
#header .top-quick-menu .quick-links .quick-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}
#header .breaking-news {
  background-color: #17478e;
  padding: 10px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#header .breaking-news .badge {
  width: 54px;
  height: 29px;
  background: url("data:image/svg+xml,%3Csvg width='55' height='29' viewBox='0 0 55 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 25V4C1 1.79086 2.79087 0 5 0H44.3741C45.8079 0 47.132 0.76741 47.8448 2.01148L53.8607 12.5115C54.5664 13.7432 54.5664 15.2568 53.8607 16.4885L47.8448 26.9885C47.132 28.2326 45.8079 29 44.3741 29H5C2.79086 29 1 27.2091 1 25Z' fill='%23FF1313'/%3E%3Cpath d='M1 4H14M1 8H8.64706' stroke='%23030303' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E") center center no-repeat;
  color: #fff;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#header .breaking-news .title {
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: #fff;
  padding: 0 15px;
  width: calc(100% - 70px);
  line-height: 18px;
  font-weight: 700;
}
#header .breaking-news.rolling .breaking-news-swiper {
  width: calc(100% - 70px);
}
#header .breaking-news.rolling .breaking-news-swiper .swiper-wrapper {
  height: 36px;
}
#header .breaking-news.rolling .breaking-news-swiper .swiper-wrapper .swiper-slide .title {
  width: 100%;
}
#header .breaking-news.rolling .arrow-btn {
  width: 16px;
  height: 16px;
  display: block;
  background: url("data:image/svg+xml,%3Csvg width='8' height='4' viewBox='0 0 8 4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 0.5L4 3.5L7 0.500001' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") center center no-repeat;
  border: 1px solid #fff;
  border-radius: 50%;
}
#header .breaking-news.rolling .arrow-btn.on {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}
#header .breaking-news-history-wrapper {
  display: none;
}
#header .breaking-news-history-wrapper.on {
  display: block;
}
#header .breaking-news-history-wrapper .breaking-news-history {
  background-color: #0e3673;
  padding: 16px;
}
#header .breaking-news-history-wrapper .breaking-news-history .breaking-news-history-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  margin-bottom: 12px;
}
#header .breaking-news-history-wrapper .breaking-news-history .breaking-news-history-list:last-child {
  margin-bottom: 0;
}
#header .breaking-news-history-wrapper .breaking-news-history .breaking-news-history-list:last-child .circle::after {
  display: none;
}
#header .breaking-news-history-wrapper .breaking-news-history .breaking-news-history-list .time {
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  width: 35px;
}
#header .breaking-news-history-wrapper .breaking-news-history .breaking-news-history-list .circle {
  margin: 0 10px;
  width: 12px;
  height: 12px;
  background: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='12' height='12' rx='6' fill='%233672CC' fill-opacity='0.5'/%3E%3Cpath d='M9 6C9 7.65685 7.65685 9 6 9C4.34315 9 3 7.65685 3 6C3 4.34315 4.34315 3 6 3C7.65685 3 9 4.34315 9 6Z' fill='%236FA8FF'/%3E%3C/svg%3E") center center no-repeat;
  position: relative;
}
#header .breaking-news-history-wrapper .breaking-news-history .breaking-news-history-list .circle::after {
  content: "";
  display: block;
  width: 0.5px;
  height: 40px;
  position: absolute;
  background-color: rgba(235, 248, 240, 0.5);
  position: absolute;
  top: 12px;
  left: 5.5px;
}
#header .breaking-news-history-wrapper .breaking-news-history .breaking-news-history-list .txt {
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  width: calc(100% - 67px);
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
#header .disaster-rolling-message {
  background-color: #f4f6f8;
  padding: 12px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#header .disaster-rolling-message .disaster-rolling-swiper {
  width: calc(100% - 26px);
  margin: 0;
}
#header .disaster-rolling-message .disaster-rolling-swiper .swiper-wrapper {
  height: 18px;
}
#header .disaster-rolling-message .disaster-rolling-swiper .rolling-message {
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  line-height: 18px;
}
#header .disaster-rolling-message .disaster-rolling-swiper .rolling-message .caution {
  margin-right: 2px;
  font-weight: 700;
  color: #f8364b;
}
#header .disaster-rolling-message .disaster-rolling-swiper .rolling-message .txt {
  font-weight: 500;
  line-height: 18px;
}
#header .disaster-rolling-message .arrow-btn {
  width: 16px;
  height: 16px;
  background: url("data:image/svg+xml,%3Csvg width='8' height='4' viewBox='0 0 8 4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 0.5L4 3.5L7 0.500001' stroke='%23484848' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") center center no-repeat;
  border: 1px solid #484848;
  border-radius: 50%;
}
#header .disaster-rolling-message .arrow-btn.on {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}
#header .disaster-rolling-message.open .swiper-wrapper {
  height: auto;
  display: block;
  max-height: 280px;
  overflow-y: scroll;
}
#header .disaster-rolling-message.open .swiper-wrapper .disaster-rolling-list {
  margin-bottom: 10px;
}
#header .disaster-rolling-message.open .swiper-wrapper .disaster-rolling-list .rolling-message {
  -webkit-line-clamp: 2;
  padding-right: 10px;
}
#header .disaster-rolling-message.open .swiper-wrapper .disaster-rolling-list .rolling-message .caution {
  display: none;
}
#header .top-notice {
  padding: 12px 16px;
  background-color: #dbdbdb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#header .top-notice .notice {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  width: 46px;
}
#header .top-notice .notice-title {
  color: #484848;
  font-weight: 500;
  width: calc(100% - 46px);
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}