/* sns */
/* select */
/* button */
/* categories */
/* calamity */
/* tooltip direction */
/* decoration */
#contents {
  min-height: calc(100vh - 1001px);
  background-color: #f4f6f8;
  padding-top: 24px;
  padding-bottom: 24px;
}
#contents .box {
  width: 1280px;
  margin: 0 auto;
  border-radius: 10px;
  border: 1px solid #e2e2e2;
  padding: 0 16px 24px 16px;
  margin-top: 24px;
  background-color: #fff;
}
#contents .box.half-box {
  width: 628px;
  margin: 0;
}
#contents .box .box-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 23px 0 20px 0;
}
#contents .box .box-title.space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#contents .box .box-title .title {
  font-size: 22px;
  font-weight: 700;
  margin-right: 16px;
}
#contents .box .box-title .sub-title {
  font-size: 16px;
  color: #666;
}
#contents .box .box-title .look-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#contents .box .box-title .look-more .txt {
  color: #484848;
  margin-right: 8px;
}
#contents .box .box-title .look-more .plus-btn {
  width: 29px;
  height: 29px;
  background: url("data:image/svg+xml,%3Csvg width='29' height='29' viewBox='0 0 29 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='14.5' cy='14.5' r='14' fill='white' stroke='%23DCDCDC'/%3E%3Crect x='7' y='14' width='15' height='1' fill='%23909599'/%3E%3Crect x='14' y='7' width='1' height='15' fill='%23909599'/%3E%3C/svg%3E") center center no-repeat;
}
#contents .box .box-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#contents .box .box-contents .box-content {
  display: block;
}
#contents .box .box-contents .box-content.video-content .thumbnail .play-icon {
  position: absolute;
  bottom: 16px;
  right: 16px;
  display: block;
  width: 42px;
  height: 42px;
  background: url("/resource/image/pc/play.png") center center no-repeat;
  background-size: 42px 42px;
}
#contents .box .box-contents .box-content .thumbnail {
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
#contents .box .box-contents .box-content .thumbnail .img {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
#contents .box .box-contents .box-content .thumbnail.width-400 {
  height: 225px;
}
#contents .box .box-contents .box-content .txt-wrapper {
  margin-top: 8px;
}
#contents .box .box-contents .box-content .txt-wrapper .title {
  font-weight: 500;
  padding: 0 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 18px;
  line-height: 23px;
}
#contents .box .box-contents .box-content .txt-wrapper .title.one-line {
  -webkit-line-clamp: 1;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}
#contents .box .box-contents .box-content .txt-wrapper .title.normal-font {
  font-weight: 400;
}
#contents .box .box-contents .box-content .txt-wrapper .time {
  font-size: 14px;
  font-weight: 500;
  color: #666;
  padding: 6px 16px;
  border-radius: 20px;
  border: 1px solid #e0e0e0;
  background-color: #fff;
  margin-top: 8px;
  display: inline-block;
}
#contents .box .box-contents .box-content:hover .thumbnail .img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
#contents .box .box-contents .box-content:hover .txt-wrapper .title {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #2282b9;
}
#contents .box .box-contents .box-content.has-border {
  border-bottom: 1px solid #dde1e4;
}
#contents .box .box-contents .box-content.has-border .txt-wrapper {
  margin-top: 0;
}
#contents .box.head-line {
  margin-top: 0;
}
#contents .box.head-line .box-contents .main-news-wrapper {
  width: 612px;
}
#contents .box.head-line .box-contents .main-news-wrapper .main-news .thumbnail {
  width: 100%;
  height: 344px;
}
#contents .box.head-line .box-contents .main-news-wrapper .main-news .txt-wrapper {
  margin-top: 18px;
}
#contents .box.head-line .box-contents .main-news-wrapper .main-news .txt-wrapper .title {
  font-size: 28px;
  line-height: 32px;
}
#contents .box.head-line .box-contents .main-news-wrapper .main-news .txt-wrapper .news-txt {
  margin-top: 25px;
  font-size: 14px;
  color: #666;
  line-height: 20px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  padding: 0 4px;
}
#contents .box.head-line .box-contents .sub-news-wrapper {
  width: 295px;
}
#contents .box.head-line .box-contents .sub-news-wrapper .box-content .thumbnail {
  height: 168px;
}
#contents .box.head-line .box-contents .sub-news-wrapper .box-content:nth-child(2) {
  margin-top: 16px;
}
#contents .box.head-line .box-contents .sub-txt-news-wrapper {
  width: 274px;
}
#contents .box.head-line .box-contents .sub-txt-news-wrapper .box-content {
  padding-top: 32px;
  padding-bottom: 32px;
}
#contents .box.head-line .box-contents .sub-txt-news-wrapper .box-content:nth-child(1) {
  padding-top: 14px;
}
#contents .box.head-line .box-contents .sub-txt-news-wrapper .box-content:last-child {
  padding-bottom: 0;
  border-bottom: none;
}
#contents .box.k-recommend-news .box-contents .recommend-list {
  width: 400px;
}
#contents .box.k-recommend-news .box-contents .recommend-list .box-content.has-border {
  padding: 12px 0;
}
#contents .box.k-recommend-news .box-contents .recommend-list .box-content:nth-child(2) {
  margin-top: 30px;
  padding-top: 0;
}
#contents .box.k-recommend-news .box-contents .recommend-list .box-content:last-child {
  padding-bottom: 0;
  border-bottom: none;
}
#contents .live-keyword {
  width: 1280px;
  margin: 0 auto;
  margin-top: 24px;
}
#contents .live-keyword .live-link {
  width: 628px;
  height: 60px;
  border-radius: 8px 0 0 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border: 1px solid #e8cfd2;
}
#contents .live-keyword .live-link .title {
  width: 90px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #333333;
  font-size: 20px;
  font-weight: 700;
  background-color: #ffedef;
  margin-right: 16px;
}
#contents .live-keyword .live-link .txt-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(100% - 106px);
}
#contents .live-keyword .live-link .txt-wrapper .link-txt {
  font-size: 18px;
  font-weight: 500;
  color: #484848;
}
#contents .live-keyword .live-link .txt-wrapper .link-txt strong {
  color: #222;
  font-weight: 700;
}
#contents .live-keyword .live-link .txt-wrapper .arrow {
  width: 16px;
  height: 16px;
  background: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 13L11 8L6 3' stroke='%23FF7D8B' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") center center no-repeat;
  margin-right: 16px;
}
#contents .issue-main-video {
  width: 1280px;
  margin: 0 auto;
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#contents .main-banners-wrapper {
  width: 1280px;
  margin: 0 auto;
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#contents .main-banners-wrapper .main-banner {
  width: 628px;
  height: 80px;
  border-radius: 8px 0 0 8px;
}
#contents .main-banners-wrapper .main-banner img {
  width: 100%;
  border-radius: 8px 0 0 8px;
}
#contents .recent-most-viewed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1280px;
  margin: 0 auto;
  margin-top: 24px;
}
#contents .recent-most-viewed .recent-news .box-title {
  border-bottom: 1px solid #dfe2e2;
}
#contents .recent-most-viewed .recent-news .box-contents {
  display: block;
}
#contents .recent-most-viewed .recent-news .box-contents .box-content {
  padding: 17px 0;
}
#contents .recent-most-viewed .recent-news .box-contents .box-content:last-child {
  border-bottom: none;
  padding-bottom: 0;
}
#contents .news-category {
  width: 1280px;
  height: 100px;
  margin: 0 auto;
  margin-top: 24px;
  background-color: #303237;
  border-radius: 10px 0 0 10px;
  padding: 0 135px 0 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#contents .news-category .kbs-txt {
  margin-right: 100px;
}
#contents .news-category .news-category-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#contents .news-category .news-category-links .news-category-list {
  margin-right: 48px;
}
#contents .news-category .news-category-links .news-category-list:last-child {
  margin-right: 0;
}
#contents .news-category .news-category-links .news-category-list .news-category-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#contents .news-category .news-category-links .news-category-list .news-category-link .img {
  width: 32px;
  height: 32px;
}
#contents .news-category .news-category-links .news-category-list .news-category-link .txt {
  color: #b6b8b9;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  margin-top: 8px;
}
#contents .news-category .news-category-links .news-category-list .news-category-link:hover .img {
  fill: #ff9c00;
}