@charset 'utf-8';
@import "../common/_variable";
@import "../common/_svg";

#contents {
  min-height: calc(100vh - 1001px);
  // min-height: 100vh;
  background-color: $lightPcBG;
  padding-top: 24px;
  padding-bottom: 24px;

  .box {
    width: 1280px;
    margin: 0 auto;
    border-radius: 10px;
    border: 1px solid $neutral1600;
    padding: 0 16px 24px 16px;
    margin-top: 24px;
    background-color: $white;

    &.half-box {
      width: 628px;
      margin: 0;
    }

    .box-title {
      display: flex;
      align-items: center;
      padding: 23px 0 20px 0;

      &.space-between {
        justify-content: space-between;
      }

      .title {
        font-size: 22px;
        font-weight: 700;
        margin-right: 16px;
      }
      .sub-title {
        font-size: 16px;
        color: #666;
      }
      .look-more {
        display: flex;
        align-items: center;

        .txt {
          color: $neutral800;
          margin-right: 8px;
        }
        .plus-btn {
          width: 29px;
          height: 29px;
          background: url($circlePlus) center center no-repeat;
        }
      }
    }

    .box-contents {
      display: flex;
      justify-content: space-between;
      .box-content {
        display: block;
        &.video-content {
          .thumbnail {
            .play-icon {
              position: absolute;
              bottom: 16px;
              right: 16px;
              display: block;
              width: 42px;
              height: 42px;
              background: url("/resource/image/pc/play.png") center center
                no-repeat;
              background-size: 42px 42px;
            }
          }
        }

        .thumbnail {
          border-radius: 5px;
          position: relative;
          overflow: hidden;

          .img {
            transition: all 0.3s;
            width: 100%;
            height: 100%;
            border-radius: 5px;
          }

          &.width-400 {
            height: 225px;
          }
        }

        .txt-wrapper {
          margin-top: 8px;
          .title {
            font-weight: 500;
            padding: 0 4px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            font-size: 18px;
            line-height: 23px;

            &.one-line {
              -webkit-line-clamp: 1;
              font-size: 16px;
              line-height: 22px;
              font-weight: 400;
            }

            &.normal-font {
              font-weight: 400;
            }
          }
          .time {
            font-size: 14px;
            font-weight: 500;
            color: $gray;
            padding: 6px 16px;
            border-radius: 20px;
            border: 1px solid $neutral1700;
            background-color: $white;
            margin-top: 8px;
            display: inline-block;
          }
        }

        &:hover {
          .thumbnail {
            .img {
              transform: scale(1.1);
            }
          }
          .txt-wrapper {
            .title {
              transition: all 0.3s;
              color: $blue500;
            }
          }
        }

        &.has-border {
          .txt-wrapper {
            margin-top: 0;
          }
          border-bottom: 1px solid $neutral400;
        }
      }
    }

    &.head-line {
      margin-top: 0;

      .box-contents {
        .main-news-wrapper {
          width: 612px;
          .main-news {
            .thumbnail {
              width: 100%;
              height: 344px;
            }
            .txt-wrapper {
              margin-top: 18px;
              .title {
                font-size: 28px;
                line-height: 32px;
              }
              .news-txt {
                margin-top: 25px;
                font-size: 14px;
                color: $gray;
                line-height: 20px;
                font-weight: 500;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                padding: 0 4px;
              }
            }
          }
        }
        .sub-news-wrapper {
          width: 295px;
          .box-content {
            .thumbnail {
              height: 168px;
            }
            &:nth-child(2) {
              margin-top: 16px;
            }
          }
        }
        .sub-txt-news-wrapper {
          width: 274px;
          .box-content {
            padding-top: 32px;
            padding-bottom: 32px;

            &:nth-child(1) {
              padding-top: 14px;
            }

            &:last-child {
              padding-bottom: 0;
              border-bottom: none;
            }
          }
        }
      }
    }

    &.k-recommend-news {
      .box-contents {
        .recommend-list {
          width: 400px;

          .box-content {
            &.has-border {
              padding: 12px 0;
            }
            &:nth-child(2) {
              margin-top: 30px;
              padding-top: 0;
            }
            &:last-child {
              padding-bottom: 0;
              border-bottom: none;
            }
          }
        }
      }
    }
  }

  .live-keyword {
    width: 1280px;
    margin: 0 auto;
    margin-top: 24px;

    .live-link {
      width: 628px;
      height: 60px;
      border-radius: 8px 0 0 8px;
      display: flex;
      align-items: center;
      background-color: $white;
      border: 1px solid $red100;

      .title {
        width: 90px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $black200;
        font-size: 20px;
        font-weight: 700;
        background-color: #ffedef;
        margin-right: 16px;
      }

      .txt-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: calc(100% - 106px);

        .link-txt {
          font-size: 18px;
          font-weight: 500;
          color: $neutral800;

          strong {
            color: $black;
            font-weight: 700;
          }
        }

        .arrow {
          width: 16px;
          height: 16px;
          background: url($liveArrow) center center no-repeat;
          margin-right: 16px;
        }
      }
    }
  }

  .issue-main-video {
    width: 1280px;
    margin: 0 auto;
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
  }

  .main-banners-wrapper {
    width: 1280px;
    margin: 0 auto;
    margin-top: 24px;
    display: flex;
    justify-content: space-between;

    .main-banner {
      width: 628px;
      height: 80px;
      border-radius: 8px 0 0 8px;

      img {
        width: 100%;
        border-radius: 8px 0 0 8px;
      }
    }
  }

  .recent-most-viewed {
    display: flex;
    justify-content: space-between;
    width: 1280px;
    margin: 0 auto;
    margin-top: 24px;

    .recent-news {
      .box-title {
        border-bottom: 1px solid $neutral1800;
      }
      .box-contents {
        display: block;
        .box-content {
          padding: 17px 0;

          &:last-child {
            border-bottom: none;
            padding-bottom: 0;
          }
        }
      }
    }
  }

  .news-category {
    width: 1280px;
    height: 100px;
    margin: 0 auto;
    margin-top: 24px;
    background-color: $blue1100;
    border-radius: 10px 0 0 10px;
    padding: 0 135px 0 100px;
    display: flex;
    align-items: center;

    .kbs-txt {
      margin-right: 100px;
    }

    .news-category-links {
      display: flex;
      align-items: center;
      .news-category-list {
        margin-right: 48px;

        &:last-child {
          margin-right: 0;
        }

        .news-category-link {
          display: flex;
          flex-direction: column;
          align-items: center;

          .img {
            width: 32px;
            height: 32px;
          }

          .txt {
            color: $neutral1900;
            font-size: 14px;
            line-height: 20px;
            font-weight: 700;
            margin-top: 8px;
          }

          &:hover {
            .img {
              fill: $orange;
            }
          }
        }
      }
    }
  }
}
