@charset 'utf-8';

$darkBlack: #23262b;
$darkBlack100: #16171a;
$darkBlack200: #262729;
$darkBlack300: #232426;
$darkBlack400: #4d4c4c;
$darkBlack500: #323336;
$darkBlack600: #1e1e20;
$darkBlack700: #4e4e4e;
$darkBlack800: #131313;
$darkBlack900: #272829;
$darkBlack1000: #313334;
$darkBlack1100: #343638;
$darkBlack1200: #3f4142;
$darkBlack1300: #3e3e3e;
$darkBlack1400: #383838;
$darkBlack1500: #353535;
$darkBlack1600: #2a2a2a;

$darkNeutral: #b5b5b5;
$darkNeutral200: #696969;
$darkNeutral300: #6f6f6f;
$darkNeutral400: #999;
$darkNeutral500: #4f4f4f;
$darkNeutral600: #505153;
$darkNeutral700: #747474;
$darkNeutral800: #787878;
$darkNeutral900: #434343;

$darkBlue: #53acff;
