@charset 'utf-8';

$lightRed: #ffa7b0;
$primaryRed: #fa7987;
$secondaryRed: #f8364b;
$red: #ff1313;

$black: #222;
$black100: #030303;
$black200: #333333;
$white: #fff;

$gray: #666;

$primary: #1e82b9;
$caution: #ffd338;
$error: #ff5858;
$positive: #287eff;

$lightPcBG: #f4f6f8;
$lightMoBG: #f7f8f9;

$blue100: #e3ecff;
$blue200: #b2cff1;
$blue300: #78aed5;
$blue400: #4b9bc7;
$blue500: #2282b9;
$blue600: #126eba;
$blue700: #195ae0;
$blue800: #133479;
$blue900: #09003e;
$blue1000: #2d476a;
$blue1100: #303237;
$blue1200: #94badc;
$blue1300: #456bcd;

$neutral100: #f6f7f8;
$neutral200: #f9f9f9;
$neutral300: #ebeef0;
$neutral400: #dde1e4;
$neutral500: #c6cbd0;
$neutral600: #aab0b8;
$neutral700: #7c7c7c;
$neutral800: #484848;
$neutral900: #47494f;
$neutral1000: #dbdbdb;
$neutral1100: #eaeaea;
$neutral1200: #c0c0c0;
$neutral1300: #bfbfbf;
$neutral1400: #ebebeb;
$neutral1500: #f7f7f7;
$neutral1600: #e2e2e2;
$neutral1700: #e0e0e0;

$sideWhite100: #fff5e8;
$sideWhite200: #fff0f2;
$sideWhite300: #fff0f0;
