@charset 'utf-8';

$lightRed: #ffa7b0;
$primaryRed: #fa7987;
$secondaryRed: #f8364b;
$red: #ff1313;
$red100: #e8cfd2;
$red200: #ffedef;
$red300: #ff3535;
$red400: #fc9ba5;
$red500: #fedde1;

$black: #222;
$black100: #030303;
$black200: #333333;
$white: #fff;

$gray: #666;

$primary: #1e82b9;
$caution: #ffd338;
$error: #ff5858;
$positive: #287eff;

$lightPcBG: #f4f6f8;
$lightMoBG: #f7f8f9;

$blue100: #e3ecff;
$blue200: #b2cff1;
$blue300: #78aed5;
$blue400: #4b9bc7;
$blue500: #2282b9;
$blue600: #126eba;
$blue700: #195ae0;
$blue800: #133479;
$blue900: #09003e;

$blue1000: #2d476a;
$blue1100: #303237;
$blue1200: #94badc;
$blue1300: #456bcd;
$blue1400: #c5d7fb;
$blue1500: #dbe7ff;
$blue1600: #0f3686;
$blue1700: #0a245a;
$blue1800: #17478e;
$blue1900: #092857;
$blue2000: #0e3673;
$blue2100: #406eb1;
$blue2200: #c0d2ff;
$blue2300: #dfe5ea;
$blue2400: #384566;
$blue2500: #e4edff;
$blue2600: #142f69;
$blue2700: #eff9ff;
$blue2800: #239fe7;

$neutral100: #f6f7f8;
$neutral200: #f9f9f9;
$neutral300: #ebeef0;
$neutral400: #dde1e4;
$neutral500: #c6cbd0;
$neutral600: #aab0b8;
$neutral700: #7c7c7c;
$neutral800: #484848;
$neutral900: #47494f;

$neutral1000: #dbdbdb;
$neutral1100: #eaeaea;
$neutral1200: #c0c0c0;
$neutral1300: #bfbfbf;
$neutral1400: #ebebeb;
$neutral1500: #f7f7f7;
$neutral1600: #e2e2e2;
$neutral1700: #e0e0e0;
$neutral1800: #dfe2e2;
$neutral1900: #b6b8b9;
$neutral2000: #bbb;
$neutral2100: #efefef;
$neutral2200: #bebebe;
$neutral2300: #f2f2f2;
$neutral2400: #dfdfdf;
$neutral2500: #ccc;
$neutral2600: #acacac;
$neutral2700: #545454;
$neutral2800: #d9d9d9;
$neutral2900: #ececec;
$neutral3000: #f3f3f3;
$neutral3100: #ededed;

$sideWhite100: #fff5e8;
$sideWhite200: #fff0f2;
$sideWhite300: #fff0f0;

$orange: #ff9c00;
