#contents {
  min-height: calc(100vh - 1001px);
}

#contents .tab-btns.type-01 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#contents .tab-btns.type-01 .tab-btns-list {
  margin-right: 8px;
}

#contents .tab-btns.type-01 .tab-btns-list:last-child {
  margin-right: 0;
}

#contents .tab-btns.type-01 .tab-btns-list.on .tab-btn {
  background-color: #2282b9;
  border: 1px solid #2282b9;
  color: #fff;
}

#contents .tab-btns.type-01 .tab-btns-list .tab-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  padding: 0 16px;
  border: 1px solid #ebebeb;
  border-radius: 15px;
  font-size: 14px;
  font-weight: 500;
  color: #2282b9;
}

#contents .tab-btns.type-02 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#contents .tab-btns.type-02 .tab-btns-list {
  margin-right: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contents .tab-btns.type-02 .tab-btns-list::after {
  content: "";
  display: block;
  width: 1px;
  height: 12px;
  background-color: #bbb;
  margin-left: 12px;
}

#contents .tab-btns.type-02 .tab-btns-list:last-child {
  padding-right: 0;
  margin-right: 0;
}

#contents .tab-btns.type-02 .tab-btns-list:last-child::after {
  display: none;
}

#contents .tab-btns.type-02 .tab-btns-list.on .tab-btn {
  color: #126eba;
  font-weight: 700;
}

#contents .tab-btns.type-02 .tab-btns-list .tab-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #7c7c7c;
}

#contents .tab-btns.type-03 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dim {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 100;
}

.dim.transparent {
  opacity: 0;
}

.dim.on {
  display: block;
}
